body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1550px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 25px;
  background-color: #FAFAFB;
}

.block-main {
  display: flex;
}